.github
.git
*.md
.vscode
.gitignore
Makefile
docs
.eslintcache
.gocache
/web/node_modules
/web/dist
/cursor_agent_sidecar/node_modules
/cursor_agent_sidecar/.env*
/cursor_agent_sidecar/state
!THIRD-PARTY-LICENSES.md
